# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Terraform (caso usem depois)
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.pid

# Misc
*.sqlite3